.pointer {
    cursor: pointer;
}

.top5 {
    margin-top: 5px;
}

.top10 {
    margin-top: 10px;
}

.top20 {
    margin-top: 20px;
}

.top30 {
    margin-top: 30px;
}

.top40 {
    margin-top: 30px;
}

.top50 {
    margin-top: 30px;
}

.top60 {
    margin-top: 60px;
}

.padding20 {
    padding: 20px;
}

.padding30 {
    padding: 30px;
}

.padding50 {
    padding: 50px;
}

.left10 {
    margin-left: 10px;
}

.left20 {
    margin-left: 20px;
}

.left30 {
    margin-left: 30px;
}

.width100 {
    width: 100px;
}

/** 背景阴影 */
.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.25s;
}

/** 正文居中 */
.content {
    margin: 0 auto;
    padding: 100px;
    width: 90%;
    height: 100%;
    background: #ffffff;
}

/**左上角悬浮*/
.floatLeftTop {
    position: relative;
    left: -10px;
    top: 8px;
    z-index: 1000
}

.circle {
    width: 20px;
    height: 20px;
    background: #ffffff;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
}