.top5 {
    margin-top: 5px;
}

.top10 {
    margin-top: 10px;
}

.top20 {
    margin-top: 20px;
}

.top30 {
    margin-top: 30px;
}

.top60 {
    margin-top: 60px;
}

.padding20 {
    padding: 20px;
}

.padding30 {
    padding: 30px;
}

.padding50 {
    padding: 50px;
}

.left10 {
    margin-left: 10px;
}

.left20 {
    margin-left: 20px;
}

.left30 {
    margin-left: 30px;
}

.width100 {
    width: 100px;
}